<div class="form-group">
    <button
        class="btn btn-default"
        data-request="onPublishToS3"
        data-request-confirm="Are you sure? This may take a while."
        data-request-success="location.reload();"
        onclick="$(this).data('request-data', {
            publish_at: $('#Form-field-Page-publish_at').val()
        })"
        data-stripe-load-indicator>
        Publish all pages to S3
    </button>
</div>
<div class="form-group  widget-field span-left" style="margin-bottom: 30px; margin-top: 0px;" data-field-name="publish_at" id="Form-field-Page-publish_at-group">
    <label for="Form-field-Page-publish_at">
        Publish At
    </label>
    <p class="help-block before-field">
        Time when the page should be published to S3 (immediately if empty)
    </p>

    <!-- Widget -->
    <div id="DatePicker-formPublishAt-publish_at" class="field-datepicker" data-control="datepicker" data-format="DD.MM.YYYY" data-mode="datetime" data-show-week-number="" data-disposable="">
        <div class="row">
            <div class="col-md-6">
                <!-- Date -->
                <div class="input-with-icon right-align">
                    <i class="icon icon-calendar-o"></i>
                    <input type="text" id="DatePicker-formPublishAt-date-publish_at" class="form-control align-right" autocomplete="off" data-datepicker="">
                </div>
            </div>
            <div class="col-md-6">
                <!-- Time -->
                <div class="input-with-icon right-align">
                    <i class="icon icon-clock-o"></i>
                    <input type="text" id="DatePicker-formPublishAt-time-publish_at" class="form-control align-right" autocomplete="off" data-timepicker="">
                </div>
            </div>
        </div>
        <!-- Data locker -->
        <input type="hidden" name="Page[publish_at]" id="Form-field-Page-publish_at" value="" data-datetime-value="">
    </div>
</div>
